body  {
  margin: 0;
  padding: 0;
  font-family:"Helvetica Neue", Helvetica, Arial;
  background-color: #fafafa;
  min-height: 100vh;
}

.Header {
  width: 100%;
  height: 50px;
  /*background-color: #9b59b6;*/
  background:#2c3e50;
  margin-bottom: 40px;
}

.Logo {
	color:#fff;
	font-size: 30px;
	font-weight:500;
	padding-top:7px;
	padding-left:15px
}

.Content  {
  width: 90%;
  margin: auto;
}
  
  @media (min-width: 800px) {
	.Content  {
		width: 800px;
	}
  }

.TaskList__Filter {
  display: flex;
  margin: 15px 0 0 0;
  padding: 0;
}

.FilterLabel{
  font-size: 16px;
  color: #999;
  padding-right: 15px;
  margin-top: 7px;
}
.SelectBox {
  display :flex;
  flex-wrap: wrap;
  align-items: center;
  width: 250px;
  height: 34px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  font-size: 16px;
  color: #999;
  padding: 0;
  box-sizing: border-box;
}
.SelectBox__Text {
  margin: 0;
  padding: 0 15px;
  flex-shrink: 0;
  flex-grow: 1;
}
.SelectBox__Icon {
  width:0;
  height:0;
  margin-right:10px;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:5px solid #000;
  opacity:0.3;
}
.SelectBox__Icon:hover {
  opacity:1;
}
.SelectBox__List {
  background:white;
  position:absolute;
  max-width:247px;
  z-index:1;
  padding:0;
  margin:0;
  margin-top:60px;
  border:1px solid #eee;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  list-style:none;
  width:100%;
  flex-grow:1;
  flex-shrink:0;
}
.SelectBox__ListItem {
  padding:5px 15px;
  opacity:0.5;
}
.SelectBox__ListItem:hover{
  opacity:1;
  background-color:#eee;
}
.SelectBox__ListItem--selected {
  background-color:#eee;
}

.TaskList {
  margin: 30px 0;
  padding: 0;
}

.Task {
  width: 100%;
  list-style: none;
  margin-bottom: 15px;
  background-color: white;
  border: 1px solid #eeeeee;
  border-left:2px solid #1abc9c;
  padding: 4px 15px;
  box-sizing: border-box;
}

.Task--finished	.Task__Icon--done	{
	background-color : #1abc9c;
	border: 1px solid #16a085;
}

.Task--finished	.Task__Name	{
	text-decoration: line-through;
	color:#cdcdcd;
}

.Task--finished	.Task__Icon--edit	{
	display: none;
}

.Task__Wrapper  {
  display: flex;
  align-items: center;
}

.Task__Input  {
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow:1;
  padding: 7px 15px;
  font-size: 16px;
}

.Task__Icon {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  flex-grow: 0;
  opacity: 0.3;
  cursor: pointer;
}

.Task__Icon:hover {
  opacity: 1;
}

.Task__Icon--done {
  background-color: #ccc;
  border: 1px solid #ddd;
  border-radius: 100px;
  margin-right: 15px;
}

.Task__Icon--done-active {
  background-color: #1abc9c;
}

.Task__Icon--edit {
  margin-left: 15px;
}

.Task__Icon--delete {
  margin-left: 15px;
}

.Task__Name {
  width: 60%;
  flex-shrink: 0;
  flex-grow: 1;
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #333333;
}

.Task__Button {
  padding: 7px 15px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-weight: 500;
  background-color : #1abc9c;
  border: 1px solid #16a085;
  color: white;
  border-radius: 4px;
  margin-left: 15px;
}
.hide {
	display:none;
}

.Footer {
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 40px;
  font-weight: 400;
  color: #ccc;
  text-align: center;
  font-size: 11px;
}